.pokemon {
    &-info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        color: map-get($colors, "yellow");

        &__introduce {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            align-items: center;

            background-color: map-get($colors, "light-grass-green");

            padding: .786rem 1.126rem;

            border-radius: .456rem;

            color: map-get($colors, "blue");

            &-name {
                font-size: 2.165rem;
                font-weight: bold;
                text-transform: capitalize;
            }

            &-order {
                font-size: 1.125rem;
                font-weight: thin;
            }
        }

        &__about {
            background-color: map-get($colors, "light-grass-green");

            padding: .786rem 1.126rem;

            border-radius: .456rem;

            &-item {
                font-size: 1.562rem;
                color: map-get($colors, "blue");
                span {
                    font-weight: bold;
                }
            }
        }

        &__group {
            &-abilities {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 1.256rem;

                background-color: map-get($colors, "light-grass-green");

                padding: .786rem 1.126rem;

                border-radius: .456rem;
                &-title {
                    margin: 0;

                    font-size: 1.256rem;
                    font-weight: bold;

                    color: map-get($colors, "blue");
                }

                &-group {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: start;                        

                    color: map-get($colors, "blue");

                    gap: .426rem;
                    
                    &-item {                                             
                        &-name {
                            border: 1px solid map-get($colors, "blue");
                            padding: .636rem .526rem;
                            border-radius: .656rem;
                        }
                    }
                }                
            }
        }
    }
}