.home {
    padding: 1rem .862rem;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1rem;

    background-color: map-get($colors, "dark-grass-green");
}

.fail {
    &-component {
        background-color: map-get($colors, "red");
        border-radius: .456rem;
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .326rem;
        font-size: 1.126rem;
        box-sizing: border-box;
        color: map-get($colors, "white");
    }
}